@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Cormorant Garamond', serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}


/* HEADER */

.container {
    position: relative;
    min-height: 95vh;
}

#imgFondo {
    max-width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(59, 59, 59, 0.48), rgba(59, 59, 59, 0.48)), url("../img/img_g_2.jpg");
    background-position: center;
    background-size: cover;
    filter: saturate(2);
    margin: 0 0 30px 0;
}

#logo {
    width: 75px;
    padding-left: 20px;
    filter: saturate(2);
}

#nav {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#imgBC {
    max-width: 100%;
    max-height: 100vh;
}

#contactInfo {
    width: 50%;
}

#txt1 {
    color: #333333;
    font-size: 30px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
    margin: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    color: rgb(175, 175, 175);
    list-style: none;
}

.marIcon {
    padding-right: 20px;
    color: rgb(131, 131, 131);
}

#botonPlay {
    position: absolute;
    bottom: 0;
    padding: 0px 0px 25px 55px;
}

a i {
    font-size: 35px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

#h1 {
    position: absolute;
    top: 50%;
    left: 35%;
    color: rgba(255, 255, 255);
}


/* Pisos */

.master {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 0 50px 0;
}

.apartamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 500px;
    justify-content: center;
    padding: 15px 0;
}

.titulo {
    position: absolute;
    width: 20%;
    padding: 15px 0;
    left: 7%;
    top: 30px;
}

.titulo h3 {
    font-size: 20px;
}

.titulo a {
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
    color: gray;
    font-size: 13px;
}

.titulo h3,
.titulo h5,
.titulo a {
    margin: 10px 0 20px 0;
    text-transform: uppercase;
}

.abajo {
    position: relative;
    width: 80%;
    height: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.apart_info {
    width: 90%;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.img_peque {
    width: 30%;
    height: 200px;
}

.img_grande {
    width: 65%;
    height: 350px;
}

.txt_info {
    width: 150px;
    position: absolute;
    height: 150px;
    background: #454342de;
    left: 27%;
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt_info_cap {
    width: 80%;
    color: white;
    transition: 1s ease;
}

.txt_info:hover .txt_info_cap_info {
    display: block;
}

.txt_info:hover .txt_info_cap {
    display: none;
}

.txt_info_cap_info {
    color: white;
    text-transform: uppercase;
    display: none;
}

.txt_info_cap_info a {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}


/* IMAGENES */

.img_grande,
.img_peque {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.5s ease;
}

#img_g_1 {
    background-image: url(../img/img_g_1.jpg);
}

#img_g_1:hover {
    background-image: url(../img/img_p_1.jpg);
}

#img_g_2 {
    background-image: url(../img/img_g_2.jpg);
}

#img_g_2:hover {
    background-image: url(../img/img_p_2.jpg);
}

#img_p_1 {
    background-image: url(../img/img_p_2.jpg);
}

#img_p_2 {
    background-image: url(../img/img_p_1.jpg);
}


/* Animaciones */

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fast {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* FOOTER */

#galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}

#galeria h2 {
    padding: 20px 0;
}

#contenedorI {
    width: 90%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cajita {
    width: 25%;
    height: 60%;
    padding: 10px;
    position: relative;
}

.cajita,
.cajita2 {
    background-size: cover;
}

.cajita2 {
    width: 35%;
    height: 60%;
    position: absolute;
    bottom: -35px;
    left: -35px;
}

#img1 {
    background-image: url("../img/4.jpg");
}

#img2 {
    background-image: url("../img/5.jpg");
}

#img3 {
    background-image: url("../img/6.jpg");
}

#img1_1 {
    background-image: url("../img/edf1.jpg");
}

#img2_1 {
    background-image: url("../img/edf2.jpg");
}

#img3_1 {
    background-image: url("../img/edf3.png");
}

#pieRey {
    width: 100%;
    background: #454342de;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}

.pieRey_hijo {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.footericons,
.footericons2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footericons2 {
    width: 30%;
}

.footericons {
    width: 50%;
}

.footericons2 div {
    cursor: pointer;
    height: auto;
    color: rgb(175, 175, 175);
    transition: 0.8s ease;
    font-size: 12px;
}

.linkhover:nth-child(1):hover {
    transition: 0.8s;
    color: rgba(38, 157, 255, 0.884);
    transform: scale(1.3);
}

.linkhover:nth-child(2):hover {
    transition: 0.8s;
    color: rgb(28, 60, 245);
    transform: scale(1.3);
}

.linkhover:nth-child(3):hover {
    transition: 0.8s;
    color: rgba(235, 27, 27, 0.904);
    transform: scale(1.3);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px 10px 0;
    padding: 20px;
    font-size: 18px;
    width: 90%;
}

li {
    display: flex;
    justify-content: space-between;
    color: rgb(175, 175, 175);
    list-style: none;
}


/************************************************************/


/*  MEDIA QUERYS */


/* HEADER */


/* Min/1024px Max/1250 */

@media screen and (max-width:1366px) {
    #imgFondo {
        height: 80vh;
    }
    #h1 {
        left: 28%;
        font-size: 40px;
    }
}


/* Min/375 Max/1024px */

@media screen and (max-width: 1024px) {
    #imgFondo {
        height: 80vh;
    }
    #h1 {
        left: 28%;
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    li {
        margin-right: 10px;
    }
    #contactInfo {
        width: 500px;
    }
    ul {
        padding: 0px;
    }
    .marIcon {
        padding-top: 10px;
        padding-right: 15px;
    }
    #h1 {
        top: 35%;
        padding-right: 60px;
    }
    #botonPlay {
        padding-left: 45%;
        padding-bottom: 15%;
    }
}