body {
    padding: 0;
    margin: 0;
}

.container {
    /* border: 1px solid green; */
    /* background-color: red; */
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    /* display: flex; */
    min-height: 100vh;
    /* padding: 20px; */
}
.holiwis {
    margin-right: 10px;
}
#imgFondo {
    /* border: 1px solid red; */
    max-width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(59, 59, 59, 0.48), rgba(59, 59, 59, 0.48)), url("../img/cocina.jpg");
    background-position: center;
    background-size: cover;
    filter: saturate(2);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* z-index: 1; */
}

#logo {
    /* border: 1px solid red; */
    width: 85px;
    padding-left: 20px;
    filter: saturate(2);
    /* z-index: 99; */
}

#nav {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    
    /* border: 1px solid blue; */
    /* z-index: 9999; */
}

#imgBC {
    max-width: 100%;
    max-height: 100vh;
}

#prueba1 {
    position: absolute;
    margin-left: 65%;
}
#prueba3 {
    position: absolute;
    margin-left: 80%;
}
#indexZ {
    /* display: inline-block;
    vertical-align: top; */
}

#contactInfo {
    /* border: 1px solid red; */
    width: 50%;
    /* float: right; */
    /* display: flex;
    flex-direction: row;
    justify-items: flex-end; */
}

#contacto {
    /* display: flex;
    justify-items: flex-end; */
    /* text-align: center; */
}

#txt1 {
    color: #333333;
    font-size: 30px;
}

ul {
    /* width: 100%; */
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    margin-right: 30px;
    margin: 10px;
    /* font-size: 18px; */
}

li {
    display: flex;
    justify-content: space-between;
    color: rgb(175, 175, 175);
    list-style: none;
}

.marIcon {
    padding-right: 20px;
    color: rgb(131, 131, 131);
}

#botonPlay {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
    padding: 0px 0px 25px 55px;
}

a i {
    font-size: 35px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

#h1 {
    /* position: absolute; */
    /* border: 1px solid rgb(255, 255, 255); */
    /* display: flex;
    justify-content: center;
    height: 500px; */
    position: absolute;
    top: 50%;
    left: 35%;
    /* right: 0; */
    /* bottom: 0; */
    /* padding: 0px 0px 25px 55px; */
    /* margin-left: auto; */
    color: rgba(255, 255, 255);
}


/* Min/1024px Max/1250 */

@media screen and (max-width:1366px) {
    #imgFondo {
        height: 80vh;
    }
    #h1 {
        left: 28%;
        font-size: 40px;
    }
}


/* Min/375 Max/1024px */

@media screen and (max-width: 1024px) {
    #imgFondo {
        height: 80vh;
    }
    #h1 {
        left: 28%;
        font-size: 40px;
    }
}


@media screen and (max-width: 375px) {
    li {
        margin-right: 10px;
        
    }
    #contactInfo {
        width: 500px;
        
    }
    #imgFondo {
        text-align: centeR;
    }
    ul {
        padding: 0px;
    }
    .marIcon {
        padding-top: 10px;
        padding-right: 15px;
    }
    #h1 {
        top: 30%;
        left: 0%;
        padding: 0% 15%;
        line-height: 50px;
        
    }
    #botonPlay {
        padding-left: 40%;
        padding-bottom: 15%;
        
    }
    #dosli{
        padding-right: 25px;
    }
    #prueba1 {
        display: flex;
        margin-left: 10px;
        width: 30%;
    }
    #prueba2 {
        margin-left: 35%;
        
    }
    #prueba3{
        display: flex;
        margin-left: 70%;
    }
    .cajadeincognito {
        margin-top: 10%;
    }
}