 @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
 * {
     margin: 0%;
     padding: 0%;
     font-family: 'Cormorant Garamond', serif;
 }

 a {
     text-decoration: none;
 }
 ul, li{
     list-style: none;
 }

 img {
     width: 100%;
 }

 /* HEADER */
.container {
    font-family: 'Cormorant Garamond', serif;
    min-height: 600px;
}

#imgFondo {
     margin-top: 50px;
     max-width: 100%;
     height: 80vh;
     background-image: linear-gradient(rgba(59, 59, 59, 0.48), rgba(59, 59, 59, 0.48)), url("../img/img_5.jpg");
     background-position: center;
     background-size: cover;
     filter: saturate(2);
     text-align: center;
 }

#nav {
     padding-top: 10px;
     position: fixed;
     top: 0;
     display: flex;
     justify-content: space-around;
     width: 100%;
     height: 65px;
     box-shadow: 0px 11px 20px -16px rgba(120, 120, 120, 1);
     background: rgba(255, 255, 255);
     z-index: 2;
 }
.prueba1 {
    width: 300px;
    align-items: center;
}
#prueba2,.prueba1{
    display: flex;
    justify-content: center;
}
.txtInfoCont {
    font-size: 20px;
}
.cajadeincognito {
    color: #5c5c5c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 
.whili {
    padding-right: 20px;
}

#logo {
    box-shadow: 0px -5px 13px -1px rgba(214, 214, 214, 1);
    background: white;
    position: absolute;
    width: 120px;
    top: 20px;
    filter: saturate(2);
}

.caja {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonPlay {
    position: absolute;
    bottom: 0;
    width: 20%;
    padding: 30px 0;
}

a i {
    font-size: 35px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
.caja {
    position: absolute;
    width: 100%;
    top: 50%;
    color: rgba(255, 255, 255);
}

 /* Pisos */

 .master {
     display: flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
     justify-content: center;
 }

 .apartamento {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 90%;
     min-height: 500px;
     justify-content: center;
     margin: 20px 0 40px 0;
 }
 
 .titulo {
     position: absolute;
     width: 20%;
     padding: 10px 0;
     left: 0%;
     top: 0px;
 }

 .titulo h3 {
     font-size: 20px;
 }

 .titulo a {
     text-decoration: none; 
     color: gray;
     font-size: 10px;
 }

 .titulo h3, .titulo h5, .titulo a {
     margin: 10px 0 20px 0;
     text-transform: uppercase;
 }

 .abajo {
     position: relative;
     width: 90%;
     height: 450px;
     display: flex;
     align-items: flex-end;
     justify-content: center;
 }

 .apart_info {
     width: 100%;
     height: 350px;
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
 }

 .img_peque {
     width: 30%;
     height: 250px;
 }

 .img_grande {
     width: 65%;
     height: 400px;
 }

 .txt_info {
     line-height: 1.4;
     width: 200px;
     position: absolute;
     height: 150px;
     background: #454342de;
     left: 24%;
     bottom: -50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .txt_info_cap {
     width: 70%;
     color: white;
     transition: 1s ease;
 }

 .txt_info:hover .txt_info_cap_info {
     display: block;
 }

 .txt_info:hover .txt_info_cap {
     display: none;
 }

 .txt_info_cap_info {
     color: white;
     text-transform: uppercase;
     display: none;
 }

 .txt_info_cap_info a {
     color: white;
     text-transform: uppercase;
     font-size: 30px;
 }

 /* Animaciones */

 .animated {
     animation-duration: 1s;
     animation-fill-mode: both;
 }

 .fast {
     animation-duration: 0.5s;
     animation-fill-mode: both;
 }

 @keyframes fadeIn {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 .fadeIn {
     animation-name: fadeIn;
 }

 /* FOOTER */
 #galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedorI {
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.cajita {
    width: 30%;
    height: 250px;
    background-size: cover;
    position: relative;
}
.fuente1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -100px;
} 
.fuente2{
    font-size: 18px;
    padding: 20px 0;
} 
 .cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    margin: 10px 0;
}

.cool-link:hover::after {
    width: 100%;
}
/* footer */

 #pieRey {
    width: 100%;
     background: #454342de;
     height: 12%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 40px 0 ;
     z-index: auto;
     flex-direction: column;
 }

 .pieRey_hijo {
     width: 90%;
     display: flex;
     justify-content: center;
     padding: 5px 0;
     flex-direction: column;
     align-items: center;
 }
 .footericons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footericons2 {
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#contacto,.copyright{
    width: 50%;
}

#contacto  {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 18px;
    width: 30%;
    cursor: pointer;
}

.marIcon {
    color: white;
    width: 100%;
    padding: 0 10px;
}
#iconos {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: flex-end;
}

.linkhover {
    cursor: pointer;
    height: auto;
    color: #ffffff;
    transition: 0.8s ease;
    font-size: 12px;
}

.copyright{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 20px 0 0 0;
}
li {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
} 

 /************************************************************/

 /*  MEDIA QUERYS */

 /* PC GRANDE */ 
 @media screen and (min-width:1024px) {
    #nav {
         height: 90px;
    }
    #logo {
        top: 40px;
    }
    #imgFondo {
        height: 85vh;
    }
    #h1 {
        font-size: 50px;
    }
     /* Pisos */ 
    .apartamento{
        margin: 0px 0 20px 0;
    }
    .master{
         margin: 50px 0 20px 0;
    }
    #contenedorI{
        min-height: 480px;
        justify-content: space-between;
    }
    .cajita {
     width: 30%;
        height: 350px;
    }
    .txt_info {
        left: 27%;
    }
    .titulo a {
        font-size: 16px;
    }
    .titulo h5 {
        font-size: 20px;
    }
    .img_peque {
        width: 30%;
        height: 250px;
    }
    .img_grande {
        width: 65%;
        height: 380px;
    }
    #galeria{
        margin: 50px 0 0 0;
        
    }
   
    #contacto {
        width: 66%;
    }
    #contacto li{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }
    .marIcon{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    #contenedorI {
        
        width: 80%;
        height: 350px;
        display: flex;
        justify-content: space-between;
    }
 }

 /* TABLET */

 @media screen and (min-width: 650px) and (max-width: 1024px)   {
    #h1 {
        font-size: 40px;
    }
    .titulo {
        width: 40%;
        margin: 0px 0 20px 0;
        top: -10px;  
    }
    .titulo a {
        font-size: 12px;
    }
    #galeria{
        margin: 40px 0 0 0;
    }
     #contacto {
        width: 65%;
        display: flex;
        justify-content: unset;
    }
    #contacto li{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    
    .marIcon{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}
  
@media screen and (min-width: 0px) and (max-width: 650px)   {
    .master{
        margin: 30px 0 0 0;
    }
    .abajo{
        display:flex;
        flex-direction:column;
    }
    .img_peque{
        display: none;
    }
    .img_grande {
        width: 100%;
    }
    .titulo {
        position: static;
        width: 100%;
        margin: -40px 0 30px 0;
    }
    .titulo a {
        font-size: 14px;
    }

    .txt_info {
        bottom: -80px;
    }

    #galeria{
        min-height: 1050px;
        margin: 40px 0 0 0;
    } 
    .apartamento{
        min-height:580px;
    }
    #imgFondo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #contenedorI{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cajita {
        width: 100%;
        min-height: 250px;
        margin-bottom: 100px;
    }  

    .footericons{
        display: flex;
        flex-direction: column;
    }
    .footericons2{
        width: 80%;
    }
    .copyright{
        width: 100%;
    }
    #iconos{
        margin: 20px 0 0 0;
    }
    #contacto {
        width: 100%;
        display: flex;
        justify-content: unset;
    }
    #contacto li{
        width: 50%;
    }
    .marIcon{
        width: 100%;
        font-size: 13.5px;
    }
    #iconos{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }
    .cajadeincognito {
        display: none;
    }
    #contacto {
        width: 90%;
        display: flex;
        justify-content: unset;
    }
    #contacto li{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .marIcon{
        text-align: center;
        padding: 10px 0;
        font-size: 11px;
    }
    .iconos{
        font-size: 11px;
    }
    .copyright{
        font-size: 14px;
    }
}